<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sporty!</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="card.css">
    <!-- <link rel="stylesheet" type="text/css" href="home.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <!-- <script src="routing.js"></script> -->
</head>
<style>
    .grid-container {
  display: inline-block;
  padding: 10px 35px;
}
#search{
    align-items: center;
    justify-content: center;
    margin-left: 30%
}
#search input{
    height: 25px;;
    width: 200px;
    border-radius: 5px;
}
</style>
<body>
    <div  ng-controller="appcontroller">
        <br>
        <h2 id="search">Search by name: <input type="text" ng-model="name"></h2>
            <div class="grid-container" ng-repeat="x in items | orderBy:'years_old' | filter: name">
                <div class="card">
                    <img src="indoor.jpg" alt="Card Image">
                    <h2>{{x.name}}</h2>
                    <p>Years old: {{x.years_old}}</p>
                    <p>Price: Rs {{x.price}}</p>
                    <a ng-href="#!search/{{x.pid}}" class="button">Read More</a>
                </div>
            </div>
    </div>
    <script>
        //  var app=angular.module("myApp",['ngRoute']);
        //      app.controller("appcontroller", function($scope,$http){
        //          $http.get("products.txt").then(function(response){
        //              $scope.items=response.data;
        //          });
        //      });
    </script>
</body>