*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
}
body{
    background-color: whitesmoke;
}
#header {
    background-color:#ffffff;
    padding: 20px;;
    margin:0px;
    /* display: inline; */
}
#logo img{
    height: 40px;;
    display: inline;
    float: left;
}
#header ul{
    display: inline;
    /* background-color: rgb(78, 97, 119); */
}
#header ul li{
    display: inline;
    float: right;
}
#header ul li a{
  /* color:#666633; */
    color: rgb(12, 12, 65);
    text-decoration: none;
    margin-left:20px;
    margin-right:20px;
}
#header ul li a:hover{
  /* color:#cccc99 */
  color: rgb(0, 0, 250);
  text-decoration: none;
  margin-left:20px;
  margin-right:20px;
}
.forms{
  background-color: rgb(69, 69, 168);
  color: white;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  text-align: center;
  padding: 20px;
  border-radius: 5px;;
}
